<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @photo.address %>
</p>

<p>
  <b>Clicks:</b>
  <%= @photo.clicks %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
